{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center text-center mt-3 mb-3">
		<h1>Are you feeling lonely?</h1>
	</div>
	<div class="row justify-content-center text-center mb-3">
		<p class="fs-4">Why don't you join our community? Our members will suggest activites. I'm convinced that you will find an activity according to your preferences.</p>
		<a class="col-auto btn btn-primary" href="/member/signup">Register</a>
	</div>
	<div class="row justify-content-center text-center mb-3">
		<p class="fs-4">You already are a member</p>
		<a class="col-auto btn btn-primary" href="/member/login">Login</a>
	</div>
	<div class="row justify-content-center text-center mb-3">
		<h2>Latest activities</h2>
		{% for activity in activities %}
			{% include "Components/_card.html.twig" %}
		{% endfor %}
	</div>
</div>

{% endblock %}
