<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src ="/assets/images/logo.png" style="height:40px; width:40px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-grow-1 text-end">
        <li class="flex-grow-1"></li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link active" aria-current="page" href="#">Recherche</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link active" aria-current="page" href="#">Créer une activité</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link active" aria-current="page" href="#">Mes activités</a>
        </li>
        <li class="flex-grow-1"></li>
      </ul>
    </div>
  </div>
</nav>