<form action="" method="GET" class="d-flex justify-content-center align-items-center p-2 rounded-3">
	<select name="type" id="type" class="col form-control">
		<option value="">--Choose your category--</option>
		<option value="sport">Sport</option>
		<option value="divertissement">Entertainment</option>
		<option value="culture">Culture</option>
	</select>
	<button type="submit" class="col-auto btn btn-primary">Find</button>
</form>
