<form action="" method="GET" class="d-flex justify-content-center align-items-center">
	<select name="type" id="type" class="col form-control">
		<option value="">--Choississez le type--</option>
		<option value="sport">Sport</option>
		<option value="divertissement">Divertissement</option>
		<option value="culture">Culture</option>
	</select>
	<button type="submit" class="col-auto btn btn-primary">Rechercher</button>
</form>
