{% extends 'layout.html.twig' %}

{% block title %}
	Sign up
{% endblock %}

{% block content %}
	<div class="container text-light">
		<h1 class="signup mt-4  mb-5 text-center">Log In</h1>
		<div class="container">
<div class="row justify-content-center mb-3">
		<form method="POST" id="signup" name="signup" class="signup col-7 rounded-3" action="">
		    {% if error %}
            	<p class="text-danger text-center">{{ error }}</p>
    		{% endif %}
			<div class="row d-flex justify-content-center">
				<div class="mb-3 text-center col-8">
					<label for="pseudo" class="form-label mt-4">Username</label>
					<input type="text" name="pseudo" class="form-control border border-primary" id="pseudo" required>
				</div>
				<div class="mb-3 text-center col-8">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" name="password" class="form-control border border-primary" id="exampleInputPassword1">
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary my-3 text-light border border-primary">Login
					</button>
				</div>
			</div>
		</form>
		</div>
		</div>
	</div>
{% endblock %}
