{% extends 'layout.html.twig' %}

{% block title %}
	Sign up
{% endblock %}

{% block content %}
	<div class="container text-light">
		<h1 class="signup mt-4 mb-5 text-center">Sign Up</h1>
		<div class="container">
<div class="row justify-content-center mb-3">
		<form method="POST" id="signup" name="signup" class="signup col-7 rounded-3" action="">
			<div class="row d-flex justify-content-center">
				<div class="mb-3 text-center col-8">
					<label for="pseudo" class="form-label mt-4">Username</label>
					<input type="text" name="pseudo" class="form-control" id="pseudo" required>
				</div>
				<div class="mb-3 text-center col-8">
					<label for="fav-activity" class="form-label">Favorite Activity</label>
					<input type="text" name="fav-activity" class="form-control" id="fav-activity">
				</div>
				<div class="mb-3 text-center col-8">
					<label for="intro" class="form-label">Introduction</label>
					<textarea type="text" name="bio" class="form-control" id="intro" cols="30" rows="4" placeholder="Introduce yourself in a few words..."></textarea>
				</div>
				<div class="mb-3 text-center col-8">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" name="password" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="mb-3 text-center col-8">
					<label for="exampleInputPassword2" class="form-label">Repeat password</label>
					<input type="password" name="repeatpassword" class="form-control" id="exampleInputPassword2">
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary my-3 text-light">Sign Up
					</button>
				</div>
			</div>
		</form>
		</div>
		</div>
	</div>

{% endblock %}

