{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row text-center mt-3 mb-5 text-light">
            <h1>Bienvenue {{ user.name }}</h1>
        </div>
        <div class="row text-center mt-3 mb-3 text-light">
            <h4>Rechercher des activités en fonction du type</h4>
            {% include "Components/_searchbar.html.twig" %}
        </div>
        <div class="row text-center mt-5 mb-3  text-light">
            <h4>All Activities</h4>
        </div>
        <div class="row mt-3 mb-3 justify-content-center">
                {% include "Components/_card.html.twig" with { 
                activities: activities,
            }%}
        </div>
    </div>
{% endblock %}